<html lang="en">
    <Head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevBook - Atualização de senha</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    </Head>
    <body>
        {{ template "header" }}

        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-12">
                    <h3>Atualizar senha</h3>
                    <form class="devbook-form" id="form-update-password">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" name="name" id="name" disabled="true" value="{{ .Name }}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Senha atual</label>
                            <input type="password" name="password" id="password" placeholder="Digite a sua senha atual" 
                                required="required" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="new-password">Nova Senha</label>
                            <input type="password" name="new-password" id="new-password" 
                                placeholder="Digite a nova senha" required="required" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="confirm-new-password">Confirme a Nova Senha</label>
                            <input type="password" name="confirm-new-password" id="confirm-new-password" 
                                placeholder="Confirme a nova senha" required="required" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-info" id="btn-update-password">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>    
        
        {{ template "footer" }}
        {{ template "scripts" }}

        <script src="/assets/js/update-password.js"></script>
    </body>
</html>